:global .main {
  display: flex;
  height: calc(100vh - 68px);
  margin-top: 0 !important;
}

:global .preview,
:global .markdown {
  width: 50%;
  height: 100%;
}

:global .preview {
  border-right: 1px solid #eee;

  .section {
    height: 100%;
  }
}

:global .markdown {
  padding: 1rem;

  .input.is-textarea {
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 80%;
    line-height: 1.8;
  }
}