.main {
  display: flex;
  height: calc(100vh - 68px);
  margin-top: 0 !important;
}

.preview,
.markdown {
  width: 50%;
  height: 100%;
}

.preview {
  border-right: 1px solid #eee;
  padding: 2.5rem;

  .section {
    height: 100%;
  }
}

.markdown {
  padding: 1rem;

  .input.is-textarea {
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 80%;
    line-height: 1.8;
  }
}
