.ygtEntrySection {
  .inner {
    &:hover {
      .ygtEntryEditButton {
        display: block;
      }
    }
  }
}

.ygtEntryEditButton {
  top: 2rem;
  right: 2rem;
  left: auto;
}

.tree ul > li.is-current,
.tree ol > li.is-current {
  margin-top: 0;
}

.ygtCategoryEditButton {
  display: none;
  .ygtEditArea:hover & {
    display: block;
  }
}
